GCP_BUCKET_NAME=jfs_storage
GCP_PROJECT_ID=jfs-agritech-app
GOOGLE_APPLICATION_CREDENTIALS=jfs-agritech-app-5aca05c3642c.json
DATABASE_URL=postgresql://postgres:pass@167.86.75.160:5432/pm_massive_inference
